.barra{
	background: #ff3019;
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%);
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
	clear: both;
	height: 15px;
	color: white;
	font-weight: bold;
	text-align: right;
	padding: 6px;
	border-radius: 4px;
	max-width: 356px;
	min-width: 20px;
}



*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 14px;
}
body{
	background: #FFFFFF;
}
a{
	text-decoration: none;
	color: red;
}
.fr{
	float: right;
}
.fl{
	float: left;
}
.cf{
	clear: both;
}
.wrap{
	padding: 25px;
	margin: 0 auto;
	width: 385px;
	background: #F3F3F3;
	border-radius: 4px;
	margin-top: 70px;
	border: 1px solid #E0E0E0;
}
h1{
	margin-bottom: 20px;
	font-size: 21px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 15px;
	text-align: center;
}
form > div{
	margin-bottom: 20px;
}
form .titulo{
	margin-right: 20px;
}
form label{
	display: block;
}
form input[type='text'], select{
	border: 1px solid #E0E0E0;
	padding: 6px;
	resize: none;
}
form input[type="submit"]{
	padding: 8px 16px;
	background: gray;
	border: 0;
	display: block;
	font-weight: bold;
	color: white;
	border-radius: 6px;
}
form input[type="submit"]:hover{
	background: #505050;
}
ul.votacion{
	margin-bottom: 25px;
	list-style: none;
}
.votacion li{
	padding: 8px;
	background: #FCFCFC;
	border-radius: 5px;
	margin-bottom: 5px;
}
.votacion li:hover{
	background: white;
}
.votacion li a{
	color: gray;
	font-weight: bold;
	font-size: 16px;
}
.votacion li a:hover{
	color: black;
}
.votacion li span{
	margin-left: 10px;
}
.votacion .fl{
	margin-bottom: 5px;
}
.volver{
	display: block;
	padding-top: 15px;
	clear: both;
}
.votar{
	float: left;
}
.resultado{
	float: left;
	margin-left: 10px;
	margin-top: 7px;
	color: black;
}
.error {
	color: red; 
}


